*{
 border: 1px black solid;
}

#main-container {
  width: 430px;
  height: 1864px;
}
#top-container{
 width: 100%;
 height: 110px;
}
#middle1-container{
 width: 100%;
 height: 832px;
}
#middle2-container{
width: 100%;
height: 732px;
background-color: #2196F3;;
}
#bottom-container{
width: 100%;
height: 200px;
background-color: #333333;
}
#top-conponent1{
  width: 100%;
  height: 100%;
  background-color: #2196F3;
}
.bottom-59{
  bottom: 59px;
}
.width-100{
  width: 100%;
}
.width-19{
  width: 19px;
}
/* 미들2-2 첫번째 박스 */
.width-286{
  width: 286px;
}
/* 미들2-2 두번째 박스 */
.width-125{
  width: 125px;
}
/* 미들2-2 세번째 박스 */
.height-219{ 
  height: 219px;
} 
/* middle1-container-첫번째박스 */
.height-308{
  height: 308px;
}
/* middle1-container-두번째박스 */
.height-180{
  height: 180px;
}
/* middle1-container-세번째박스 */
.height-115{
  height: 115px;
}
/* middle1-container-네번째박스 */
.height-231{
  height: 231px;
}
.height-354{
  height: 354px;
}
.height-147{
  height: 147px;
}
.inline-block{
  display: inline-block;
}
.flex {
  display: flex;
}
.flex-direction-column{
  flex-direction: column;
}
.justify-content-between{
  justify-content:space-between ;
}
.justify-content-center{
  justify-content: center;
}
.text-set-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-font{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  color: #333333;
}
.font-size-12{
  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  color: #333333;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-900{
  font-weight: 900;
}
.color-white{
  color: white;
}
.color-blue{
  color: #2196F3;;
}
.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.left-23{
  left:23px;
}
.top-53{
  top:53px;
}
.top-106{
  top:106px;
}
.top-159{
  top:159px;
}
.top-212{
  top:212px;
}
.trans180d{
  transform: rotate(180deg);
}

/* 미들 컨테이너 컨포넌트들 */

/* 미들컨테이너 컨포넌트들 */