*{
  border: 1px black solid;
}
#tablet-maincontainer{
  width: 1024px;
  height: 1368px;
}
#tablet-top-container{
width: 100%;
height: 100px;
background-color: #2196F3;
}
#tablet-top2-container{
width: 100%;
height: 200px;
display: flex;
background-color: #F0F0F0;
}
#tablet-middle1-container{
width: 100%;
height: 864px;

}
#tablet-middle2-container{
width: 100%;
height: 1368px;
background-color: #2196F3;
}
#tablet-bottom-container{
width: 100%;
height: 200px;
background-color: #333333;
}
.tablet-flex{
  display: flex;
}
.tablet-flex-direction{
  flex-direction:column ;
}
#tablet-top-container>div:nth-child(1),div:nth-child(3){
  width: 395px;
  height: 100%;
}
#tablet-top-container>div:nth-child(2){
  display: flex;
  flex-direction: column;
}
#tablet-top-container>div>div:nth-child(2){
  width: 100%;
  height: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  color: white;
}
#tablet-top-container>div>div:nth-child(1){
  width: 100%;
  height: 66px;

}#tablet-top-container>div>div:nth-child(3){
  width: 100%;
  height: 19px;
}
#tablet-top2-container>div:nth-child(1){
  width: 60px;
  height: 100%;
}
#tablet-top2-container>div:nth-child(2){
  width: 129px;
  height: 100%;
  display: flex;
}
#tablet-top2-container>div:nth-child(3){
  width: 835px;
  height: 100%;
}
#tablet-top2-container>div:nth-child(2)>div:nth-child(1){
  width: 100%;
  height: 40px;
}